#data-block.container
  each items, key in plant.data
    // TODO: clouds
    .row.pt-4
      .col-12
        table.table.table-striped
          thead
            tr
              th Tags
              th Valeur
              th Sources
          tbody
            each item in items
              tr
                th(
                  scope='row'
                )= key
                td= item.value
                td
                  each source in item.sources
                    p
                      a(
                        href= '#' + source
                      )= plant.sources[source].title