#data-block.container
  each items, key in plant.data
    // TODO: clouds
    .row.pt-4
      .col-12
        table.table
          thead
            tr
              th Tags
              th Valeur
              th Sources
          tbody
            each item in items
              tr
                th.col-3(
                  scope='row'
                )= key
                td.col-6= item.value
                td.col-3
                  each source in item.sources
                    p
                      a.text-green(
                        href= '#' + source
                      )= plant.sources[source].parents[0].shortTitle || plant.sources[source].parents[0].title