#search-form > input {
  border-bottom-color: rgba(255, 255, 255, 0.85) !important;
  
}

#search-form > input::placeholder {
  color: white;
  font-weight: 300;
}

#search-form > input:focus {
  border-bottom: 2px white solid !important;
  box-shadow: none;
}