#search-form > input::placeholder {
  color: white;
  font-weight: 300;
  border-bottom: 1px white solid !important;
}

#search-form > input:focus {
  border-bottom: 2px white solid !important;
  box-shadow: none;
}