@import '../../variables';

input[type=text] {
  margin-left: 2rem;

  &:hover {
    border-bottom: 1px $green solid !important;
    box-shadow: none !important;
  }

  &:focus:not([readonly]) {
    border-bottom: 1px $green-dark solid !important;
    box-shadow: none !important;
  }
}

.input-bubble {
  border-radius: 2rem;
  box-shadow: .5rem .5rem -0.5rem rgba(0,0,0,.25) !important;

  > .fas.fa-search {
    padding: 1.4rem 1.3rem 1.4rem 1.3rem;
    cursor: pointer;
  }

  &:hover {
    
    > .text-green {
      color: $green-dark !important;
      transition: color 0.4s ease-out;
    }
  }
}