@import '../../variables';

.input-bubble {
  border-radius: 2rem;
  padding-right: .7rem;
  padding-left: 3rem;

  input[type=text] {
    margin-bottom: .9rem;
    padding-top: 1.35rem;

    &:hover {
      border-bottom: 1px $green-accent solid !important;
      box-shadow: none;
    }

    &:focus:not([readonly]) {
      border-bottom: 2px $green-accent solid !important;
      box-shadow: none;
    }
  }

  &:hover {
    
    > .text-green {
      color: $green-dark !important;
      transition: color 0.4s ease-out;
    }
  }
}