doctype html
html(
  style='scroll-behavior: smooth'
)
  head
    title PERMA-DATA - #{ titles.page }
    include ./styles/styles
    include ./scripts/scripts
  body.light-green.darken-1
    include ./navbar/navbar
    block content
    #anchor__quest-modal
    block scripts