extends ../../layout/layout.pug

block content
  img.py-4(
    src="/public/images/perma-data-logo.jpg",
    alt="perma-data logo"
  )
  h1.pt-4 PERMA-DATA
  h2.pt-1.pb-4 La communauté des cultivateurs de savoir
  .container.pt-4
    .row
      .col-md-8.offset-md-2
        p Bonjour et bienvenue sur PERMA-DATA, un site qui regroupe
          b &nbsp;des informations sur les plantes et de nombreux outils pour la conception de jardins.
