extends ../../layout/layout.pug

block content
  if user
    include ./home-auth/home-auth
  else
    include ./home-unauth/home-unauth

block scripts
  script(
    type="text/javascript",
    src="/public/bundles/pages/home.js"
  )
