img.animated.infinite.heartBeat.py-4(
  style='margin-top: calc(30vh - 100px);'
  src="/public/images/perma-data-logo.jpg",
  alt="perma-data logo"
)
p.mt-4 Chargement de l'application
div#app__anchor