doctype html
html
  head
    title PERMA-DATA - #{ titles.page }
    include ./styles/styles
    include ./scripts/scripts
  body.text-center
    nav.navbar.navbar-dark.danger-color.mb-4
      a.navbar-brand.text-white(
        href="/"
      ) PERMA-DATA 
    block content
    script(
      type="text/javascript",
      src="/public/bundles/context/login.js"
    )