doctype html
html
  head
    title PERMA-DATA - #{ titles.page }
    include ./styles/styles
    include ./scripts/scripts
  body.text-center
    include ./navbar/navbar
    block content
    script(
      type="text/javascript",
      src="/public/bundles/context/login.js"
    )